*{
    color: #561643;
    font-family: 'Fantasy', Copperplate;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
button{
    width: 200x;
    border: 2px solid red;
    min-width: 80px; 
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 1px 10px blue inset, 2px 1px 10px blueviolet;
    border-radius: 5px;
}